.homepage{
    width: 98%;
    overflow: hidden;
}
.homepage img{
    width: 98%;
    position: absolute;
}

@media(min-width: 540px) {
    .homepage{
        background: yellow;
    }
}
@media(min-width: 780px) {
    .homepage{
        background: palevioletred;
    }
}
@media(min-width: 920px) {
    .homepage{
        background: blueviolet;
    }
}